.food_container {
  width: 500px;
  height: 350px;
  padding: 10px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 39px;
  color: #25063f;
  border: solid black 2px;

  /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;*/
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 200px 300px;
  grid-template-rows: 25% 75%;
}
.food_container h3 {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: #25063f;
}
.food_container img {
  width: 150px;
  height: 160px;
  border: solid black 2px;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}
.food_container p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  margin: 20px;
  margin-right: 40px;
}

@media screen and (max-width: 480px) {
  .food_container {
    max-width: 95%;
    /* height: 250px; */
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 75%;
  }
  .food_container img {
    width: 90%;
    height: 80%;
  }
  .food_container p {
    max-width: 90%;
    max-height: 95%;
    font-size: 15px;
    overflow: auto;
    word-wrap: break-word;
    text-align: center;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .food_container {
    max-width: 95%;
    /* height: 250px; */
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 75%;
  }
  .food_container img {
    width: 90%;
    height: 80%;
  }
  .food_container p {
    max-width: 90%;
    max-height: 95%;
    font-size: 15px;
    overflow: auto;
    word-wrap: break-word;
    text-align: center;
    margin-right: 20px;
  }
}
