:root {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.img2 {
  background-image: url("./assets/imagen2.jpg");
}
h1 {
  color: black;
}
h2 {
  text-align: center;
  color: #25063f;
  font-weight: bolder;
  background-color: rgba(240, 248, 255, 0.705);
  border-radius: 15px;
  border: solid 2px black;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
  }
  .main_container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .container_app {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .main_container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .container_app {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .main_container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .container_app {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .main_container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .container_app {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
